<h1>Eat-Da-Pizza!</h1>

<main>
<div class="container">
    <div class="row">
    <div class="col s6">
        {{#each pizzas}}
        {{#unless this.polished}}
            <div>
            <form action="/pizzas/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='pizzaAvailable'> {{this.pizza_name}}</button>
            </form>
            </div>
        {{/unless}}
        {{/each}}
    </div>

    <div class="col s6">
        {{#each pizzas}}
        {{#if this.polished}}
            <div class='pizzaEaten'>
            <div>
                {{this.pizza_name}}
            </div>
            </div>
        {{/if}}
        {{/each}}
    </div>
    </div>
</div>
</main>

<h2>Add A Pizza</h2>
<div class="row">
<div class="col s12">
    <form action="/pizzas" method="POST">
    <input type="text" id="name" name="pizza_name" placeholder="Uber Delicious Pizza">
    <button type="submit" class="addPizzaButton">Add The Pizza</button>
    </form>
</div>
</div>